# Scraping US Craft Brewery Statistics

First, import required modules

In [3]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

Fetch the HTML page and parse it with BeautifulSoup

In [4]:
url = 'https://www.brewersassociation.org/statistics/by-state/'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

Get the states

In [5]:
states = soup.find_all('div', attrs={'id': 'state-stats'})

Create a DataFrame

In [6]:
columns = ('State', 'Breweries', 'Rank', 'Barrels', 'Rank')
brew_df = pd.DataFrame(columns=columns)

Add a few stats for each state to the DataFrame

In [7]:
for state in states:
    name = state.find('h1').get_text()
    if name == 'DC':
        continue
    
    # Get number of breweries and ranking
    count = state.select('#per-state .total .count')[0].get_text()
    rankText = state.select('#per-state .total .rank')[0].get_text()
    countRank = re.search(r'Ranks (\d+)', rankText).group(1)
    
    # Get number of barrels and ranking
    barrels = state.select('#production .total .count')[0].get_text()
    rankText = state.select('#production .total .rank')[0].get_text()
    barrelsRank = re.search(r'Ranks (\d+)', rankText).group(1)
    
    # Create frame for this state and append to main one
    stats = (name, count, countRank, barrels, barrelsRank)
    temp_df = pd.DataFrame(stats).transpose()
    temp_df.columns = columns
    brew_df = pd.concat([brew_df, temp_df], ignore_index=True)

Output the DataFrame

In [9]:
#brew_df.to_csv('brew.csv', index=False, sep=',', encoding='utf-8')
brew_df

             State Breweries Rank    Barrels Rank
0          Alabama        41   38     71,894   39
1           Alaska        42   37    210,063   26
2          Arizona       117   19    173,427   30
3         Arkansas        40   39     45,720   45
4       California       841    1  3,421,295    2
5         Colorado       396    2  1,522,834    3
6      Connecticut        87   26    213,676   25
7         Delaware        27   45    298,706   21
8          Florida       285    9  1,373,558    5
9          Georgia        82   28    449,485   15
10          Hawaii        20   48     79,309   38
11           Idaho        63   32     90,498   37
12        Illinois       229   13    400,473   17
13         Indiana       181   15    259,005   23
14            Iowa        94   23    120,755   34
15          Kansas        47   35     47,490   44
16        Kentucky        61   33    122,415   33
17       Louisiana        39   40    227,096   24
18           Maine       119   18    357,438   19
19        Maryland        94   23    294,801   22
20   Massachusetts       155   17    629,463   13
21        Michigan       357    5    899,792   11
22       Minnesota       178   16    644,077   12
23     Mississippi        15   50     31,422   48
24        Missouri       112   20    367,871   18
25         Montana        92   25    197,167   27
26        Nebraska        50   34     54,640   43
27          Nevada        43   36     71,869   40
28   New Hampshire        81   30    110,509   35
29      New Jersey       109   21    144,283   31
30      New Mexico        85   27    135,557   32
31        New York       386    4  1,270,157    6
32  North Carolina       291    7  1,254,024    7
33    North Dakota        16   49     16,378   51
34            Ohio       290    8  1,398,358    4
35        Oklahoma        37   41     66,133   41
36          Oregon       284   10  1,032,369    9
37    Pennsylvania       354    6  3,719,475    1
38    Rhode Island        26   46     35,398   46
39  South Carolina        82   28    100,242   36
40    South Dakota        28   44     18,196   50
41       Tennessee        99   22    184,203   29
42           Texas       283   11  1,144,563    8
43            Utah        37   41    193,055   28
44         Vermont        66   31    335,199   20
45        Virginia       236   12    405,465   16
46      Washington       394    3    566,949   14
47   West Virginia        26   46     18,951   49
48       Wisconsin       190   14  1,007,123   10
49         Wyoming        29   43     58,966   42